<!doctype html>
<html lang="en">
  <head>
  	<title>Calculate Your Love! | Love Calculator</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/dashboard/css/style.css">
	</head>
	<body>
		<style>
			body {
				background-image: url('/static/dashboard/images/bg.jpg');
				background-repeat: no-repeat;
				background-attachment: bottom fixed;
				background-size: cover;
			}
			</style>
			<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
				<div class="container-fluid">
					<a class="navbar-brand text-white" href="/">Love Calculator</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link active text-white" aria-current="page" href="/">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" target="_blank" href="https://brezwagtiga.pythonanywhere.com/shaurya/">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-white" href="/contact/">Contact</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap py-5">
		      	<h3 class="text-center mb-0">Contact</h3>
		      	<p class="text-center">Enter you message. We'll get back to you via your email.</p>
						<form action="/contact/" method="POST" class="login-form">
		      		<div class="form-group">
								{% csrf_token %}
		      			<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
		      			<input type="text" class="form-control" placeholder="Your name" name="name" required>
		      		</div>
              <div class="form-group">
		      			<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-pencil"></span></div>
		      			<input type="text" class="form-control" placeholder="Your subject" name="subject" required>
		      		</div>
              <div class="form-group">
		      			<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-envelope"></span></div>
		      			<input type="email" class="form-control" placeholder="Your email" name="email" required>
		      		</div>
	            <div class="form-group">
	            	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-comment"></span></div>
	              <textarea class="form-control" placeholder="Your message" name="message" required></textarea>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="btn form-control btn-primary rounded submit px-3">Send</button>
	            </div>
	          </form>
	          <div class="w-100 text-center mt-4 text">
	          	<p class="mb-0">Website developed by</p>
		          <a href="https://brezwagtiga.pythonanywhere.com/shaurya/" target="_blank">Shaurya Samant</a>
	          </div>
	        </div>
				</div>
			</div>
		</div>
	</section>
	<script src="/static/dashboard/js/jquery.min.js"></script>
  <script src="/static/dashboard/js/popper.js"></script>
  <script src="/static/dashboard/js/bootstrap.min.js"></script>
  <script src="/static/dashboard/js/main.js"></script>
	</body>
</html>